
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.1.20210603-1006.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/0/406f96fedb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/10/40133403dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/11/30e04698db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/14/20de9703dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/16/c0dfc902dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/1d/50394304dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/1f/00e74404dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/21/a0df3903dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/26/b0106802dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/28/20f4d5ffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/29/20caca02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/2d/20e8c502dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/30/60a3b201dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/31/c0bb4604dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/37/20543103dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/3b/80579603dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/40/80ee6e02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/45/80d85398db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/45/a0afc402dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/48/2061a301dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/4a/f00d4402dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/4b/00996301dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/4b/106d5c01dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/51/00d46802dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/57/30e63a02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/63/40f53803dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/63/7092f1ffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/65/50c49a03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/67/0029c302dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/67/202a4998db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/68/50aa4504dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/6a/20bb9401dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/6c/f0f79403dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/6f/60fb5001dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/7/50b65a98db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/7/b0be5698db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/70/40b05120dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/76/e0f66a02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/77/d0ad3a04dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/7e/70678401dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/8/505aa0fedb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/82/a0fc4304dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/8a/f00ea603dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/8d/10196402dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/9/601f4502dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/90/4059e7ffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/91/50976902dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/92/508d3b03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/94/60bc1602dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/99/30ba6b02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/99/e09ecc02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/9c/f0e95498db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/9f/b0423003dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/aa/c0119203dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/ab/c0633702dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/ad/60dc6402dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/af/606c5898db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/b5/c0ebd9ffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/b8/60ae4202dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/b9/10eb4102dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/b9/c0b63e02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/c2/40cd9e01dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/c3/50c84004dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/cc/70554506dd37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/d0/90473703dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/d1/f0a23a03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/d3/10a86102dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/d6/70a53e04dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/dc/60f5c802dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/dc/a051bcffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/dd/708dcb02dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e0/3050e2ffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e1/b0798f03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e2/b0e24502dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e3/00019a03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e3/0048af01dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e5/d0f4deffdb37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/e6/60279103dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/ed/40c6b401dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/ee/e0bcc702dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f0/00584704dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f1/f03b6602dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f5/e00a3803dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f5/f0fc2b03dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f6/00943d04dc37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.history/f7/00a05298db37001c1ebc8cc9014c4e94
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-actuator/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-bom/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-bom/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-bom/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-bom/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-bom/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-docs/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-spring/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator-test/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-generator/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-metadata/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-parent/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-parent/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-parent/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-parent/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-parent/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-service-sample/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-version-resolver/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr-web/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/initializr/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.equinox.p2.discovery.compatibility/cache/discovery-1392644843
.metadata/.plugins/org.eclipse.equinox.p2.discovery.compatibility/cache/discovery-668036677
.metadata/.plugins/org.eclipse.jdt.core/1012198176.index
.metadata/.plugins/org.eclipse.jdt.core/1224417980.index
.metadata/.plugins/org.eclipse.jdt.core/1243131983.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1278340228.index
.metadata/.plugins/org.eclipse.jdt.core/132785076.index
.metadata/.plugins/org.eclipse.jdt.core/13499620.index
.metadata/.plugins/org.eclipse.jdt.core/1405747560.index
.metadata/.plugins/org.eclipse.jdt.core/1416862701.index
.metadata/.plugins/org.eclipse.jdt.core/1418928187.index
.metadata/.plugins/org.eclipse.jdt.core/1491753534.index
.metadata/.plugins/org.eclipse.jdt.core/1630752943.index
.metadata/.plugins/org.eclipse.jdt.core/164600553.index
.metadata/.plugins/org.eclipse.jdt.core/1646271175.index
.metadata/.plugins/org.eclipse.jdt.core/1801613604.index
.metadata/.plugins/org.eclipse.jdt.core/1809463934.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/1885505777.index
.metadata/.plugins/org.eclipse.jdt.core/1899609100.index
.metadata/.plugins/org.eclipse.jdt.core/195242289.index
.metadata/.plugins/org.eclipse.jdt.core/1952608710.index
.metadata/.plugins/org.eclipse.jdt.core/1968676851.index
.metadata/.plugins/org.eclipse.jdt.core/2002981960.index
.metadata/.plugins/org.eclipse.jdt.core/206767167.index
.metadata/.plugins/org.eclipse.jdt.core/2109089569.index
.metadata/.plugins/org.eclipse.jdt.core/2123657806.index
.metadata/.plugins/org.eclipse.jdt.core/2179356123.index
.metadata/.plugins/org.eclipse.jdt.core/2227066651.index
.metadata/.plugins/org.eclipse.jdt.core/2282656358.index
.metadata/.plugins/org.eclipse.jdt.core/2409168230.index
.metadata/.plugins/org.eclipse.jdt.core/2410776424.index
.metadata/.plugins/org.eclipse.jdt.core/2436434621.index
.metadata/.plugins/org.eclipse.jdt.core/2515864857.index
.metadata/.plugins/org.eclipse.jdt.core/2532806842.index
.metadata/.plugins/org.eclipse.jdt.core/2566074509.index
.metadata/.plugins/org.eclipse.jdt.core/257175617.index
.metadata/.plugins/org.eclipse.jdt.core/2623783639.index
.metadata/.plugins/org.eclipse.jdt.core/2672025374.index
.metadata/.plugins/org.eclipse.jdt.core/2773653124.index
.metadata/.plugins/org.eclipse.jdt.core/2800894773.index
.metadata/.plugins/org.eclipse.jdt.core/2858133525.index
.metadata/.plugins/org.eclipse.jdt.core/2873839513.index
.metadata/.plugins/org.eclipse.jdt.core/3013526662.index
.metadata/.plugins/org.eclipse.jdt.core/3014784238.index
.metadata/.plugins/org.eclipse.jdt.core/3047902971.index
.metadata/.plugins/org.eclipse.jdt.core/3055953252.index
.metadata/.plugins/org.eclipse.jdt.core/3150440257.index
.metadata/.plugins/org.eclipse.jdt.core/3269047370.index
.metadata/.plugins/org.eclipse.jdt.core/3480749816.index
.metadata/.plugins/org.eclipse.jdt.core/3514032904.index
.metadata/.plugins/org.eclipse.jdt.core/351947419.index
.metadata/.plugins/org.eclipse.jdt.core/3535305443.index
.metadata/.plugins/org.eclipse.jdt.core/356372711.index
.metadata/.plugins/org.eclipse.jdt.core/3680399317.index
.metadata/.plugins/org.eclipse.jdt.core/3703095263.index
.metadata/.plugins/org.eclipse.jdt.core/3747554745.index
.metadata/.plugins/org.eclipse.jdt.core/3755570889.index
.metadata/.plugins/org.eclipse.jdt.core/3820891833.index
.metadata/.plugins/org.eclipse.jdt.core/3851641966.index
.metadata/.plugins/org.eclipse.jdt.core/3858574681.index
.metadata/.plugins/org.eclipse.jdt.core/3926381474.index
.metadata/.plugins/org.eclipse.jdt.core/397652211.index
.metadata/.plugins/org.eclipse.jdt.core/3978425272.index
.metadata/.plugins/org.eclipse.jdt.core/4018027026.index
.metadata/.plugins/org.eclipse.jdt.core/4245003865.index
.metadata/.plugins/org.eclipse.jdt.core/427130055.index
.metadata/.plugins/org.eclipse.jdt.core/655816896.index
.metadata/.plugins/org.eclipse.jdt.core/671918628.index
.metadata/.plugins/org.eclipse.jdt.core/699046076.index
.metadata/.plugins/org.eclipse.jdt.core/749796523.index
.metadata/.plugins/org.eclipse.jdt.core/818469644.index
.metadata/.plugins/org.eclipse.jdt.core/964088081.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2021/10/44/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2021/10/44/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/initializr-actuator.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-bom.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-docs.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-generator-spring.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-generator-test.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-generator.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-metadata.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-parent.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-service-sample.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-version-resolver.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr-web.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/initializr.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-actuator.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-bom.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-docs.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-generator-spring.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-generator-test.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-generator.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-metadata.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-parent.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-service-sample.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-version-resolver.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr-web.container
.metadata/.plugins/org.eclipse.m2e.jdt/initializr.container
.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
*.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
